# ไม่อัปโหลดโฟลเดอร์ node_modules ทั้งหมด
node_modules/
**/node_modules/

# ไม่อัปโหลดไฟล์ฐานข้อมูล SQLite
*.db

# ไม่อัปโหลดไฟล์ build
dist/
build/

# ไม่อัปโหลดไฟล์ environment (.env)
.env
**/.env

# ไม่อัปโหลด log
*.log
logs/

# ไม่อัปโหลดไฟล์ระบบของ VSCode หรือ Windows
.vscode/
.DS_Store
Thumbs.db
